.container-classes-tables {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  background-color: blueviolet;
  padding: 20px;
}

.table {
  width: 100%; /* Ensure the table takes full width of its container */
  max-width: 1200px; /* Set a maximum width for better readability on large screens */
  background-color: blueviolet;
  color: white;
  border-collapse: collapse; /* Remove spacing between cells */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: darkviolet;
  color: white;
}

.table tr:nth-child(even) {
  background-color: rebeccapurple;
}

.courses-select-table {
  background-color: blueviolet;
  width: 1000px;
  text-align: center;
  margin: 20px auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.courses-select-table h2 {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  
  color: white;
}

.classes-enrollment-table {
  flex: 1;
  margin-bottom: 20px; /* Margin bottom for spacing between sections */
  background-color: blueviolet;
  padding: 20px;
  border: 1px solid blueviolet;
  border-radius: 2px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: white;
  width: 80%;
  max-width: 1200px;
  height: 500px;
  position: absolute;
  right: 80px;
  top: 80px;
}

.classes-enrollment-table h2 {
  color: white;
  text-align: center;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.blueviolet-bg {
  background-color: blueviolet;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.course-content {
  background-color: blueviolet;
  border: 1px solid blueviolet;
  color: white;
  border-radius: 2px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin-right: 20
}