body{
    background-color: blueviolet;
}

.top-panel{
    background-color: blueviolet;
    border: 2px solid #9563E3;
    border-radius: 18px;
    position: absolute;
    width: 100px;
    height: 50px;
    margin-left: 0px ;
    right: 20px;
    top: 35px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: all ease-in-out 2s;
}

.top-panel:hover{
    background-color: rgb(11, 235, 59);
}

.top-panel p{
    padding: 8px;
}

.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 30px auto;
}

.search-bar-container input{
    background-color: white;
    width: 500px;
    height: 50px;
    border-radius: 8px;
    transition: all ease 2s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 8px;
}

.search-bar-container input:hover{
    border: 3px solid rgb(29, 146, 255);
}

.search-bar-container input:focus {
    border: 3px solid rgb(29, 146, 255);
}

.navbar{
    position: absolute;
    width: 170px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #8A2BE2;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
    border: 2px solid #9563E3;
}
.User-Name{
    color: white;
    align-items: center;
}

.User-Name p{
    text-align: center;
    margin: 20px auto;

}

.nav-list{
    list-style-type: none; /* Remove bullet points */
    position: absolute;
    padding: 0; /* Padding'i sıfırlayın */
    margin: 8px;
    left: 10px;
    top: 50px;
}

.nav-list li{
    margin-bottom: 20px; /* Liste öğeleri arasında yatay boşluk */
    display: flex; /* İçeriği yatay hizala */
    align-items: center;
    background-color: #8A2BE2;
}

.nav-list a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 8px;
}

.nav-list p{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 8px;
}
.Icon{
    display: flex;
    right: 20px;
    align-items: center;
    align-content: center;
    margin: 20px auto;
}
.Person-Icon{
    width: 50px;
    height: 50px;
    background-color: rgba(56, 32, 95, 0.596);
    border-radius: 50%; /* Doğru kullanım */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-bottom: 20px;
}
#user-name{
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 100px;
    color: white;
    margin-bottom: 500px;
}

.content{
    margin-top: 50px;
}
.content li{
    align-items: center;
    border-bottom: 1px solid black; /* Alt çizgi */
    padding-bottom: 3px; /* Alt çizgi ile metin arasındaki mesafe */
    width: 140px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all ease-in-out 2s;
    padding: 15px;
}

.content li:hover{
    background-color: #b778f1;
}
.welcome-panel-container{
    width: 1000px;
    height: 200px;
    background-color: blueviolet;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
    border-radius: 18px;
    border: 2px solid rgb(149, 99, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 70px auto;
    position: absolute;
    left: 300px;
    top: 380px;
    margin-top: 135px;
}

.date-panel{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 40px;
    text-align: start;
    display: flex;
}

.welcome-message{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: absolute;
    top: 50px;
    left: 40px;
    text-align: start;
    display: flex;
}

.welcome-back{
    color: white;
    font-size: 30px;
    font-weight: bolder
}

.bottom-sentence{
    color: rgb(247, 247, 247,50%);
    font-size: 15px;
    position: absolute;
    margin-top: -20px;
}

.dashboard-title{
    color: white;
    margin-bottom: 10px;
    position: absolute;
    left: 300px;
    padding: 8px;
    position: absolute;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    width: 300px;
    align-content: center;
    position: absolute;
    left: 300px;
    top: 200px;
}

  
  .tile {
    background-color: #f0f0f0; /* Örnek arka plan rengi */
    padding: 30px;
    border-radius: 5px;
  }
  
  /* Özel döşemeler için ek stiller */

  .classes {
    background-color: #0099ff;
    width: 310px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  }

  .grades {
    background-color: orange;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  }

  .notes {
    background-color: #76b852;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  }

  .finance {
    background-color: burlywood;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  
    width: 200px;
    }

  .payments {
    background-color: crimson;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  }

  .professors {
    background-color: chartreuse;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  }

  .make-it-happen{
    background-image: url('images/make_it_happen.jpg');
    background-size: cover; /* Resmi kaplamak için */
    background-repeat: none;
    background-position: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  }
  /* ... diğer döşemeler için benzer stiller ... */
  
  .tile img {
    width: 100%;
    height: auto;
  }
  
  .tile h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #dddddd;
    border-radius: 5px;
  }
  
  .progress-bar-inner {
    height: 100%;
    background-color: #76b852; /* Örnek dolgu rengi */
    width: 50%; /* Örnek dolgu yüzdesi */
    border-radius: 5px;
  }

  .notices-container {
    padding: 20px;
    background-color: blueviolet;
    border-radius: 8px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
    height: 400px;
    width: 1000px;
    position: absolute;
    top: 750px;
    left: 300px;
    border: 2px solid #9563E3;
}

.header p {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.notices p {
    font-size: 18px;
    color: white;
}

.notice-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notice-item h3 {
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
}

.notice-item p {
    margin: 5px 0;
}

.notice-item a {
    color: white;
    text-decoration: none;
}

.notice-item a:hover {
    text-decoration: underline;
}
