body {
    background-color: blueviolet;
}

.teacher-top-panel {
    background-color: blueviolet;
    border: 2px solid #9563E3;
    border-radius: 18px;
    position: absolute;
    width: 100px;
    height: 50px;
    margin-left: 0px;
    right: 20px;
    top: 35px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: all ease-in-out 2s;
}

.teacher-top-panel:hover {
    background-color: rgb(11, 235, 59);
}

.teacher-top-panel p {
    padding: 8px;
}

.teacher-search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 30px auto;
}

.teacher-search-bar-container input {
    background-color: white;
    width: 500px;
    height: 50px;
    border-radius: 8px;
    transition: all ease 2s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 8px;
}

.teacher-search-bar-container input:hover {
    border: 3px solid rgb(29, 146, 255);
}

.teacher-search-bar-container input:focus {
    border: 3px solid rgb(29, 146, 255);
}

.teacher-navbar {
    position: fixed;
    width: 170px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #8A2BE2;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
    border: 2px solid #9563E3;
}

.teacher-User-Name {
    color: white;
    align-items: center;
}

.teacher-User-Name p {
    text-align: center;
    margin: 20px auto;
}

.teacher-nav-list {
    list-style-type: none;
    position: fixed;
    padding: 0;
    margin: 8px;
    left: 10px;
    top: 50px;
}

.teacher-nav-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #8A2BE2;
}

.teacher-nav-list a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 8px;
}

.teacher-nav-list p {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 8px;
}

.teacher-Icon {
    display: flex;
    right: 20px;
    align-items: center;
    align-content: center;
    margin: 20px auto;
}

.teacher-Person-Icon {
    width: 50px;
    height: 50px;
    background-color: rgba(56, 32, 95, 0.596);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-bottom: 20px;
}

#teacher-user-name {
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 100px;
    color: white;
    margin-bottom: 500px;
}

.teacher-content {
    margin-top: 50px;
}

.teacher-content li {
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    width: 140px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all ease-in-out 2s;
    padding: 15px;
}

.teacher-content li:hover {
    background-color: #b778f1;
}

.teacher-welcome-panel-container {
    width: 1000px;
    height: 200px;
    background-color: blueviolet;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
    border-radius: 18px;
    border: 2px solid rgb(149, 99, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 70px auto;
    position: absolute;
    left: 300px;
    top: 380px;
    margin-top: 135px;
}

.teacher-date-panel {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 40px;
    text-align: start;
    display: flex;
}

.teacher-welcome-message {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: absolute;
    top: 50px;
    left: 40px;
    text-align: start;
    display: flex;
}

.teacher-welcome-back {
    color: white;
    font-size: 30px;
    font-weight: bolder
}

.teacher-bottom-sentence {
    color: rgb(247, 247, 247,50%);
    font-size: 15px;
    position: absolute;
    margin-top: -20px;
}

.teacher-dashboard-title {
    color: white;
    margin-bottom: 10px;
    position: absolute;
    left: 300px;
    padding: 8px;
    position: absolute;
}

.teacher-dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    width: 300px;
    align-content: center;
    margin: 60px 285px;
    padding: 20px;
    position: absolute;
}

.teacher-tile {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 5px;
}

.teacher-classes {
    background-color: #0099ff;
    width: 310px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.teacher-grades {
    background-color: orange;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.teacher-notes {
    background-color: rgb(218, 19, 255);
    width: 150px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.teacher-finance {
    background-color: rgb(2, 207, 2);
    width: 160px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.teacher-payments {
    background-color: rgb(255, 30, 30);
    width: 310px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.teacher-professors {
    background-color: rgb(3, 252, 143);
    width: 310px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.teacher-announcements {
    background-color: rgb(255, 215, 0);
    width: 150px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.teacher-make-it-happen {
    background-color: rgb(0, 123, 255);
    width: 160px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.teacher-course-instructors {
    position: absolute;
    top: 600px;
    left: 300px;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-bottom: 20px;
    padding: 20px;
}

.teacher-notices-container {
    position: absolute;
    top: 750px;
    left: 300px;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-bottom: 20px;
    padding: 20px;
}

.teacher-notices {
    margin-top: 10px;
}

.teacher-header {
    color: #333;
    font-weight: bold;
    font-size: 18px;
}